@import 'src/styles/common';

.single-show-modal {
  @include elemenSize($w: 32em, $h: 22em);
  @include itemPlacement($dp: flex);
  background-color: $white;
  border-radius: 8px;
  position: $absolute;
  box-shadow: 0 0px 28px rgba(238, 238, 238, .25),
    0 0px 10px rgba(255, 255, 255, .945);

  &__poster img {
    @include elemenSize($w: 14em, $h: 22em);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__info {
    padding: 1em;
  }

  &__title {
    font-weight: $bold;
    font-size: 1.2em;
    color: get-color($text, 900);
    text-align: center;
    margin: 1em 0;
  }

  &__release {
    font-size: .8em;
  }

  &__description {
    @include elemenSize($h: 12em);
    overflow: hidden;
  }
}
