@import '../../../../styles/common';

.original-shows {
  &__content {
    padding: 1.2em 1.6em;
    background-color: get-color($bg, 200);
    &_title h1 {
      margin-bottom: 1em;
      color: get-color($text, 900);
    }

    &_body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
