@import 'src/styles/common';

.original-shows {
  &__content {
    padding: 1.2em 1.6em;

    &-title h1 {
      padding: .8em;
      font-size: 1.6em;
      margin-bottom: 1em;
      color: get-color($text, 900);
    }

    &-body {
      @include itemPlacement($dp: flex, $fw: wrap, $jc: center);
    }
  }
}
