@import 'src/styles/common';

.auth__button {
  @include elementMaxMinWidth($minw: 4em);
  padding: 1.2em 1em;
  margin: .4em 0;
  font-weight: $bold;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .04em;
  text-transform: $uppercase;
  background-color: $transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms,
    box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0ms,
    border 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
  cursor: pointer;

  &:hover {
    background-color: get-color($bg, 200);
  }
}

a {
  color: get-color($text, 800);
}

.registration {
  &__form {
    @include elemenSize($h: calc(40em - 4em));
    background: url('../../../images/register-bcg.jpg') center no-repeat;
    background-size: cover;
    color: get-color($text, 900);
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
  }

  &__container {
    @include elementMaxMinWidth($maxw: 32em);
    @include itemPlacement($dp: flex, $fd: column, $ai: center);
    border-radius: .4em;
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, .25);
    overflow: hidden;
    transform: translate(-50%, -50%);
    padding: 2.2em;
    position: absolute;
    top: 50%;
    left: 50%;

    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    &:before {
      @include elemenSize($w: 32em, $h: 36em);
      content: '';
      background: url('../../../images/register-bcg.jpg') center no-repeat;
      background-size: cover;
      filter: blur(.4em);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }

    &:after {
      @include elemenSize($w: 22em, $h: 30em);
      background: rgba(255, 255, 255, .6);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__input-data {
    @include elemenSize($w: 16em);
    margin-top: 2.2em;

    & .custom {
      &__input {
        @include itemPlacement($dp: flex, $fd: column);
        border-bottom: 1px solid get-color($text, 900);
        margin-bottom: .8em;
        transition: all .24s;
      }

      &__header {
        @include itemPlacement($dp: flex, $jc: space-between, $ai: center);

        & span {
          color: get-color($error, 700);
          font-size: .8em;
          text-transform: $uppercase;
        }
      }

      &__footer {
        @include elemenSize($h: 2.8em);
        padding: .8em 0.2em 0 .4em;
        background: $transparent;
        font-size: .8em;
        font-weight: 300;
        border: none;
        outline: none;
      }
    }
  }

  &__button {
    @include itemPlacement($dp: block);
    margin: 0 auto;
    padding: .8em 2.4em;
    background: rgba(255, 255, 255, .25);
    border: 1px solid get-color($bg, 600);
    line-height: .8em;
    transition: all .24s;
    cursor: pointer;

    &.disabled {
      color: $black;
      background-color: $transparent;
    }

    &:hover {
      background: get-color($text, 900);
      color: $white;
      outline: none;
    }
  }
}

@include respond(small-tab) {
  .registration {
    &__container {
      h1 {
        font-size: 1em;
      }
    }

    &__input-data {
      @include elemenSize($w: 10em, $h: none);
      font-size: .8em;
      margin-top: 2em;

      .custom__input {
        .custom__footer {
          @include elemenSize($w: none, $h: 1.6em);
          padding: .2em .2em .2em 0.4em;
        }
      }
    }
  }

  .auth__button {
    @include elementMaxMinWidth($maxw: none, $minw: 2em);
    padding: 1.2em .8em;
    letter-spacing: 0;
  }
}
