.comments {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  margin: 0 auto;
  margin-bottom: 35px;
  &__box {
    &__user {
      font-weight: 600;
    }
    &__comment {
      color: red;
    }
  }
  &__post {
    display: flex;
    flex-direction: row;
    &_container {
      display: flex;
      width: 100%;
    }
    &_message {
      flex: 8;
      padding: 10px;
      border: none;
    }
    &_button {
      flex: 2;
      padding: 10px;
      border: none;
      cursor: pointer;
      outline: none;
      color: #6082a3;
      background-color: transparent;
    }
  }
}
