@import 'src/styles/common';

.replenishModal {
  &__container {
    @include elemenSize($w: 100%, $h: 100vh);
    position: $absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
  }

  &__form {
    @include elemenSize($w: 24em, $h: 20em);
    @include itemPlacement($dp: flex, $fd: column, $ai: center);
    position: $absolute;
    background-color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2em;
    border-radius: 8px;
  }

  &__label {
    text-transform: capitalize;
    font-weight: $bold;
    color: get-color($text, 800);
    font-size: 1.2em;
    margin-bottom: .4em;
  }

  &__depositeValue-input,
  &__userPassword-input {
    @include elemenSize($w: 100%, $h: 2em);
    font-size: 1.2em;
    outline: none;
    padding-left: .4em;
    border-radius: 8px;
    margin-bottom: 1.2em;
    border: 1px solid get-color($primary, 400);

    &:focus {
      border: 2px solid get-color($primary, 400);
    }
  }

  &__buttons {
    @include elemenSize($w: 100%);
    @include itemPlacement($dp: flex, $fd: row, $jc: center);
  }

  &__button-submit,
  &__button-cancel {
    @include elemenSize($w: 8em, $h: 3.2em);
    border: none;
    cursor: pointer;
    margin: 1em;
    text-transform: $uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: get-color($text, 800);
    border-radius: 8px;
    transition: color .1ms ease-out;
  }

  &__button-submit:hover {
    color: get-color($primary, 400);
    background-color: get-color($primary, 100);
  }

  &__button-cancel:hover {
    color: $white;
    background-color: get-color($text, 600);
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
