@import 'palette';
@import 'colors';
@import 'functions';
@import 'variables';
@import 'mixins';

.darkModeTheme {
  input::-webkit-input-placeholder {
    color: #c5c0c0;
  }
  .header,
  .sidebar {
    background: #505050;
    border-color: #7b7676;
    &__option:hover {
      background-color: rgb(29, 173, 240);
    }
    a,
    h1 {
      color: #fefefe;
    }
  }
  .posts,
  .post,
  .watch,
  .payment-modal {
    background: #424242;
    border-color: #7b7676;
    color: #fefefe;
    &__header {
      background: #424242;
      border-color: #7b7676;
    }
    &__item:hover {
      background-color: rgb(29, 173, 240);
    }
    a {
      color: #fefefe;
    }
    &__box {
      border-color: #7b7676;
      input {
        background: #393939;
      }
    }
  }
  .payment-modal {
    &__confirm_button,
    &__cancel_button {
      color: #fefefe;
      &:hover {
        background-color: rgb(29, 173, 240);
      }
    }
  }
  .dropdown-menu {
    &__container {
      background: #424242;
      border-color: #7b7676;
    }
    &__item:hover {
      background-color: rgb(29, 173, 240);
    }
  }
  .comments {
    border-color: #7b7676;
    input {
      color: #fefefe;
      background: #393939;
    }
  }
}
