$white: #fff;
$black: #000;

$text: (
        100: #f6f6f6,
        200: #eeeeee,
        300: #c8c8cc,
        400: #b3b3bb,
        500: #8d929a,
        600: #8a8e94,
        700: #6b6e74,
        800: #525252,
        900: #1a1a1a
);

$bg: (
        100: #f8f8f8,
        200: #efeeee,
        300: #c4c4c4,
        400: #ababab,
        500: #848484,
        600: #393d4b,
        700: #232735,
        800: #181b26,
        900: #1a1a1a
);

$primary: (
        100: #e8f3ff,
        200: #d5e9ff,
        300: #95c8ff,
        400: #57a7ff,
        500: #0078fc,
        600: #006be1,
        700: #0152ab,
        800: #000584,
        900: #00244b
);

$secondary: (
        100: #effcf8,
        200: #bcf4e3,
        300: #56e4b8,
        400: #23dca2,
        500: #1dbb8a,
        600: #1aaa7d,
        700: #206659,
        800: #0d553f,
        900: #0d2a25
);

$tertiary: (
        500: #ff7d75
);

$info: (
        100: #ebf8ff,
        200: #d6f1fa,
        300: #a2e0f4,
        400: #4bc1e9,
        500: #1975ff,
        600: #3182ce,
        700: #00398f,
        800: #002254,
        900: #00122d
);

$success: (
        100: #eaffea,
        200: #caffd6,
        300: #8affb2,
        400: #33ff90,
        500: #00ea7a,
        600: #00c969,
        700: #009b51,
        800: #00602c,
        900: #002508
);

$warning: (
        100: #fff9f0,
        200: #ffe9c9,
        300: #ffca7a,
        400: #ffb84c,
        500: #ffa31c,
        600: #e38800,
        700: #b56c00,
        800: #673d00,
        900: #352000
);

$error: (
        100: #fff5f5,
        200: #ffd5d5,
        300: #ffadad,
        400: #fc8181,
        500: #ff5f5f,
        600: #d50000,
        700: #9a0000,
        800: #730000,
        900: #3c0000
);
