@import 'src/styles/common';

.single-content-item {
  @include itemPlacement($dp: flex, $fd: column, $fw: wrap);
  background-color: $white;
  border-radius: 8px;
  margin: .2em;
  cursor: pointer;

  img {
    @include elemenSize($w: 12em, $h: 12em);
    object-fit: cover;
    border-radius: 8px;
  }
}
