@import '../../../styles/common';
.posts {
  flex: 0.5;
  border-right: 1px solid get-color($info, 100);
  background-color: $white;
  overflow-y: scroll;
  &__header {
    top: 0;
    background-color: $white;
    border-bottom: 1px solid get-color($info, 100);
    padding: 0.8em 1.2em;
  }
  &__box {
    padding: 1.2em 1.6em;
    border-bottom: 1px solid get-color($info, 100);
    margin-bottom: 2em;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    display: flex;
    & input {
      width: 100%;
      margin-left: 1.2em;
      font-size: 1.2em;
      border: none;
      outline: none;
      padding-left: 0.8em;
    }
  }
  &__image_upload {
    margin-top: 1.2em;
    padding: 0.8em;
    border: none;
  }
  &__box-btn {
    width: 10em;
    height: 4em;
    align-self: center;
    border-radius: 30px;
    color: $white;
    background-color: get-color($primary, 400);
    border: none;
    text-transform: $uppercase;
    margin-top: 1.6em;
    cursor: pointer;
  }
}
.comments {
  max-width: 32em;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  margin: 0 auto;
  margin-bottom: 2.4em;
  &__post {
    display: flex;
    flex-direction: row;
    &_container {
      display: flex;
      width: 100%;
    }
    &_message {
      flex: 8;
      padding: 10px;
      border: none;
    }
    &_button {
      flex: 2;
      padding: 0.8em;
      color: get-color($primary, 400);
      background-color: $transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
.posts::-webkit-scrollbar {
  width: 0; /*or display:none*/
}
.posts {
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/
}
