@import 'src/styles/common';

.userPage {
  &__cover-photo img {
    @include elemenSize($w: 100%, $h: 22em);
    object-fit: cover;
  }

  &__main {
    @include itemPlacement($dp: flex, $fd: row, $jc: space-between);
    margin: 0 auto;
    position: relative;
    background-color: $white;
  }

  &__profile-photo {
    @include elemenSize($w: 12em, $h: 12em);
    object-fit: cover;
    bottom: 0;
    padding: .5em;
    background-color: $white;
    position: $absolute;
  }

  &__entertainment-links {
    @include elemenSize($w: 100%);
    @include itemPlacement($dp: flex, $fd: row, $jc: space-evenly);
    margin-left: 15em;

    a {
      color: get-color($text, 900);
      font-size: 1em;
      font-weight: $bold;
      padding: 1em 1.2em;
      text-transform: $capitalize;
      border-bottom: 2px solid $transparent;

      &:hover {
        color: get-color($error, 400);
        transition: color .1ms ease-out;
        border-bottom: 2px solid get-color($error, 400);
      }
    }
  }
}
