@import '../../styles/common';
.header {
  min-width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2em;
  background-color: $white;
  border-bottom: 1px solid get-color($info, 200);
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
  position: sticky;
  &__navigation {
    display: flex;
    margin: 0.2em 0;
    &_home {
      margin-right: 2.4em;
    }
    &_user {
      text-transform: $capitalize;
    }
    &_home,
    &_user {
      padding: 0.8em 0.8em;
      transition: color 0.1ms ease-out;
      &:hover {
        color: get-color($primary, 400);
        background-color: get-color($primary, 100);
        transition: color 0.1ms ease-out;
      }
    }
  }
}

@include respond(small-tab) {
  .header {
    justify-content: space-evenly;
    padding: 0 1em;
  }
}
