.register {
  height: calc(100vh - 60px);
  background: url('../../images/register-bcg.jpg') center no-repeat;
  background-size: cover;
  color: #333;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;

  &__box {
    max-width: 32em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
    overflow: hidden;
    transform: translate(-50%, -50%);
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    &:before {
      background: url('../../images/register-bcg.jpg') center no-repeat;
      background-size: cover;
      content: '';
      filter: blur(10px);
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100vw;
    }
    &:after {
      background: rgba(255, 255, 255, 0.6);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
    }
  }
  &__form {
    margin-top: 2em;
    label {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #333;
      font-size: 1.6em;
      margin-bottom: 0.8em;
      transition: all 0.25s;

      & input {
        border: none;
        outline: none;
        height: 3em;
        background: transparent;
        font-size: 15px;
        font-weight: 300;
        padding: 0.8em 0.2em 0 0.4em;
      }
      .secondName {
        border-left: 1px solid black;
      }
      span {
        display: block;
        font-size: 0.5em;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 0.8em;
        transition: all 0.25s;
        margin-bottom: -1em;
      }
    }
  }
  &__user_data {
    display: flex;
    & span {
      // margin-bottom: -1em;
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #333;
    line-height: 1em;
    padding: 0.8em 2.4em;
    transition: all 0.25s;
    cursor: pointer;
    &:hover {
      background: #333;
      color: #fff;
      outline: none;
    }
  }
}
