@import 'src/styles/common';

.payment-modal {
  @include itemPlacement(
    $dp: flex,
    $fd: column,
    $jc: space-evenly,
    $ai: center
  );
  text-align: center;
  background-color: $white;
  color: get-color($text, 900);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: $absolute;
  cursor: default;

  &__body {
    padding: 0 1em;
  }

  &__confirm-button,
  &__cancel-button {
    margin: .4em 0;
    padding: .8em 1em;
    font-weight: $bold;
    background-color: transparent;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .04em;
    text-transform: $uppercase;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms,
      box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0ms,
      border 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
    cursor: pointer;

    &:hover {
      background-color: get-color($primary, 100);
      transition: color .1ms ease-out;
      color: get-color($primary, 400);
    }
  }
}
