@import 'src/styles/common';

.post {
  max-width: 32em;
  width: 100%;
  margin: 0 auto;
  border: 1px solid get-color($text, 300);
  border-bottom: none;
  background-color: $white;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    &-info {
      display: flex;
      align-items: center;
      img {
        width: 2.4em;
        height: 2.4em;
      }
    }
  }
  &__username {
    margin-left: 0.8em;
    text-transform: $capitalize;
  }

  &__body {
    & > img {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      object-fit: contain;
      border-top: 1px solid get-color($text, 300);
      border-bottom: 1px solid get-color($text, 300);
    }
  }
  &__text {
    font-weight: normal;
    margin-left: 1.2em;
    padding: 0.8em 0;
  }
}

.post__delete-button{
  cursor: pointer;
}
