@import 'src/styles/common';

.auth__button {
  min-width: 4em;
  padding: 1.2em 1em;
  margin: 0.4em 0;
  font-weight: $bold;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 0.04em;
  text-transform: $uppercase;
  background-color: $transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;

  &:hover {
    background-color: get-color($bg, 200);
  }
}
a {
  color: get-color($text, 800);
}

.registration {
  &__form {
    height: calc(40em - 4em);
    background: url('../../images/register-bcg.jpg') center no-repeat;
    background-size: cover;
    color: get-color($text, 900);
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
  }

  &__container {
    max-width: 32em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
    overflow: hidden;
    transform: translate(-50%, -50%);
    padding: 2.2em;
    position: absolute;
    top: 50%;
    left: 50%;

    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    &:before {
      background: url('../../images/register-bcg.jpg') center no-repeat;
      background-size: cover;
      content: '';
      filter: blur(0.4em);
      height: 36em;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 32em;
    }

    &:after {
      background: rgba(255, 255, 255, 0.6);
      content: '';
      display: block;
      height: 30em;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 22em;
    }
  }

  &__input-data {
    margin-top: 2.2em;
    width: 16em;

    & .custom {
      &__input {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid get-color($text, 900);
        margin-bottom: 0.8em;
        transition: all 0.24s;
      }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & span {
          color: get-color($error, 700);
          font-size: 0.8em;
          text-transform: $uppercase;
        }
      }

      &__footer {
        border: none;
        outline: none;
        height: 2.8em;
        background: $transparent;
        font-size: 15px;
        font-weight: 300;
        padding: 0.8em 0.2em 0 0.4em;
      }
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid get-color($bg, 600);
    line-height: 0.8em;
    padding: 0.8em 2.4em;
    transition: all 0.24s;
    cursor: pointer;

    &.disabled {
      color: $black;
      background-color: $transparent;
    }

    &:hover {
      background: get-color($text, 900);
      color: $white;
      outline: none;
    }
  }
}

@include respond(small-tab) {
  .registration__form {
    & .box {
      h1 {
        font-size: 16px;
      }
    }
    & .form {
      font-size: 14px;
      margin-top: 2em;
      width: 10em;
      .custom__input {
        .custom__footer {
          height: 1.6em;
          padding: 0.2em 0.2em 0.2em 0.4em;
        }
      }
    }
  }
  .auth__button {
    min-width: 2em;
    padding: 1.2em 0.8em;
    letter-spacing: 0;
  }
}
