@import '../../styles/common';

.watch {
  display: flex;
  &__sidebar {
    min-width: 200px;
    flex: 0.2;
    padding: 0.8em 1em;
    border-right: 1px solid get-color($text, 300);
  }
  &__content {
    flex: 0.8;
  }
}
